{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateAccount</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .account {
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }

        .center {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="account">
    <img src = "{% static 'UPS1.jpeg' %}" width = "300" height = "100" class="center"/>
    <h2>Edit Account</h2>
    <p>your account has created, please set your own password and email</p>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            {{ form.username }}
            
            
        </div>
        <div class="form-group">
            <label>Password</label>
            {{ form.password }}
            <span style="color: red;">{{ form.password.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>Email</label>
            {{ form.email }}
            <span style="color: red;">{{ form.email.errors.0 }}</span>
        </div>
        <input type="submit" value="Edit" class="btn btn-primary">
        <a class="btn btn-primary" href={% url 'user:welcome'%} role="button">Back to Main Page</a>
    </form>
</div>


</body>
</html>

