{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User Info</title>
    <style>
        .center {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <img src = "{% static 'ups_truck.jpeg' %}" width = "400" height = "200" />
        <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please write your feedback for the dilivery!</h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}

                    
                    <div class="form-group">
                        <label>{{ form.label }}</label>
                        {{ form }}
                        <span style="color: red;">{{ field.errors.0 }}</span>
                    </div>
                    
                    

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
<a class="btn btn-primary" href={% url 'user:main'%} role="button">Back to Main Page</a>
</body>
</html>