{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
        .center {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
{% if message %}
            <div class="alert alert-warning">{{ message }}</div>
          {% endif %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={% url 'user:main'%}> Main Page of United Parcel Service </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/track_package/">track your package</a></li>	
                

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.session.info.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/view_info/">View Info</a></li>	
                        <li><a href="/edit_info/">Edit Info</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            Your packages information in UPS
        </div>

        <!-- Table -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="text-align:center">Package ID</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Destination x</th>
                <th style="text-align:center">Destination y</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in temppack %}
                <tr>
                    <th style="text-align:center">{{ obj.packageid }}</th>
                    <td style="text-align:center">{{ obj.status }}</td>
                    <td style="text-align:center">{{ obj.userx }}</td>
                    <td style="text-align:center">{{ obj.usery }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="clearfix">
        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>

</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
<img src = "{% static 'lol.png' %}" width = "1300" height = "150" class="center"/>
</body>
</html>
